gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
*.env
*.g.dart
lib/generated/intl
lib/core/routing/router.gr.dart
/android/lib/core/routing/router.gr.dart
pubspec.lock
*.router.gr.dart
*.freezed.dart
assets/key/
#intl
